{% extends "base.html" %}

{% block body %}
<!----------------------------------------------------Begin Second Banner------------------------------------------------------------>
  <div class="about-banner">
      <h2 align="center"> ABOUT THE PROJECT TEAM</h2>
  </div>

  <!----------------------------------------------------End Second Banner------------------------------------------------------------>
  
  <!----------------------------------------------------Begin Main Content------------------------------------------------------------>
  <div class="about">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
          <p><h2 style="font-weight: bold;">Doug High</h2></p>
          <p>"I am a proud father and lover of life.  I have experience as a professional chef, electrician, and a mainframe programmer.
          Most recently(and prior to COVID) I have been putting my electrical and practical skills to use helping my clients bring their project ideas to fruition.
          An avid hiker, I enjoy forging my own trails and I am most at home thriving in harsh conditions of nature. I enjoy camping in severe weather, snow storms being my favorite.
          I have a fond curiosity of time, space, and reality and in understanding things beyond the realm of what we have evolved to easily perceive.
          I am looking forward to re-entering the field of data analysis and expanding on new technologies just learned."</p>
          <br />
          <p><h2 style="font-weight: bold;">Jeff Hoffman</h2></p>
          <p>"I grew up in New Jersery graduating from University of Delaware with a BS in Marketing & Management.
          I started my career editing press releases at Business Wire, a company that distributes press releases to the media and financial community.
          Over an 8 year career at the company, I moved to a lead Client Services role and then was promoted to Account Executive where I would be responsible for managing accounts with millions in sales annually.
          After Business Wire I got an MBA in Marketing and combined my interest in Marketing & technology as a Marketing Manager at Connotate Technologies, a company that offers web scraping applications to enterprises.
          I left Connotate Technologies to pursue entrepreneurial opportunity in a family real estate team and turn my interest in the stock market into a side hustle."</p>
          <br />
          <p><h2 style="font-weight: bold;">Joonil Kim</h2></p>
          <p>"I worked for French automobile brands - Peugeot, Citroen, and DS as a sales planning general manager in South Korea.
          I worked hard and was exhausted. I needed to take a break. That's the reason why I moved to NJ."</p>
          <br />
          <p><h2 style="font-weight: bold;">Melissa Torres</h2></p> 
          <p>"I am a mother of three and wife. Prior to having children I earned a BA in Mathematics from William Paterson University. I worked as a Financial Analyst for the County of Essex. I chose to stay home with my children until they all entered preschool. My husband introduced me to the work of Data Analytics and I was fascinated by it! Shortly after, I began working for Merck as a Data Operations Analyst. I can truly say I love what I do! I hope to utilize the skills gained in this course to further my career in data analytics within the pharmaceutical industry. In my free time, which I hardly have, I enjoy hiking! My husband and I hope to someday move to Arizona where the weather is dry and hot, where we can enjoy being outdoors more often."</p>
          <br />
          <p><h2 style="font-weight: bold;">Eric Viera</h2></p>
          <p>"I currently work in Supply Chain, on the E-commerce side of the business. 
          In recent years, I have worked on Warehouse Management(WMS) and Order Management System(OMS) implementations, maintenance and updates. 
          My current project involves integration of a recently acquired brand to my Group’s WMS. 
          Prior to the pandemic, a nice perk of the job was traveling around the globe to collaborate with colleagues on projects.  
          My favorite place to visit thus far has been Tokyo. 
          Aside from visiting other countries, some of my hobbies include: road trips to breweries, snowboarding, playing/watching soccer, skydiving, playing piano, guitar and of course learning to code." </p>

        </div>
    </div> 
  </div>
 <!----------------------------------------------------End Main Content------------------------------------------------------------>
{% endblock %}