{% extends "base.html" %}

{% block body %}
<!----------------------------------------------------Begin Second Banner------------------------------------------------------------>
  <div class="about-banner">
      <h2 align="center"> ABOUT THE PROJECT TEAM</h2>
  </div>

  <!----------------------------------------------------End Second Banner------------------------------------------------------------>
  
  <!----------------------------------------------------Begin Main Content------------------------------------------------------------>
  <div class="about">
    <div class="row">
      <div class="col-md-6 col-md-offset-3" align="center">
        <p>Doug H - </p>

        <p>Jeff H - </p>

        <p>Joonil K - </p>

        <p>Mellisa T - </p> 

          <p>Eric Viera - "I currently work in Supply Chain, on the E-commerce side of the business. 
          In recent years, I have worked on Warehouse Management(WMS) and Order Management System(OMS) implementations, maintenance and updates. 
          My current project involves integration of a recently acquired brand to my Groupe’s WMS. 
          Prior to the pandemic, a nice perk of the job was traveling around the globe to collaborate with colleagues on projects.  
          My favorite place to visit thus far has been Tokyo. 
          Aside from visiting other countries, some of my hobbies include: road trips to breweries, snowboarding, playing/watching soccer, skydiving, playing piano, guitar and of course learning to code." </p>

        </div>
    </div> 
  </div>
 <!----------------------------------------------------End Main Content------------------------------------------------------------>
{% endblock %}