{% extends "base.html" %}

{% block body %}
  <!----------------------------------------------------Begin Second Banner------------------------------------------------------------>
    <div class="banner">
        <p align="center"> <img src="static/img/Stock_Market_Image.jpg" class="img-responsive" alt="Stock_Market_Image"/></p>
    </div><br />
  
    <div class="row heading">
      <div class="col-md-6 col-md-offset-3" align="center">
          <h1 class="blog-post-heading">Resources</h1>
      </div>
    </div>
<!----------------------------------------------------End Second Banner------------------------------------------------------------>
  
<!----------------------------------------------------Begin Main Content------------------------------------------------------------>


    <div class="jumbotron blogtext">
        <div class="row">
            <div class="col-md-6 col-md-offset-3"><br />
              <p align ="center">Below you will find some of the resources used to build this webpage.</p><br />
              <h3 align="center"><strong>COOLORS</strong></h3><br />
              <p align="center"><img src="static/img/COOLORS.jpg" alt="COOLORS" class="img-responsive" /></p>

              <p>This webpage is a fantastic resource for people who need a little bit of help to choose what color scheme to use for a website.</p>
              <a href="https://coolors.co/"><span class="center-underline">COOLORS</span></a>
              <br/><br/><br/><br/>
              

              <h3 align="center"><strong>PEXELS</strong></h3><br />
              <p align="center"><img src="static/img/PEXELS.jpg" alt="PEXELS" class="img-responsive" /></p>

              <p>This is a royalty free stock photo page with high quality images. There is a huge selection of images to choose from. Highly recommend using this instead of going through google for images.</p>
              <a href="https://www.pexels.com/"><span class="center-underline">PEXELS</span></a>
              <br/><br/><br/><br/>
              
            
              <h3 align="center"><strong>BOOTSTRAP</strong></h3><br />
              <p align="center"><img src="static/img/BOOTSTRAP.jpg" alt="Stock4" class="img-responsive" /></p>
              <p>Can't forget to mention Bootstrap which did a lot of the heavy lifting for the layout of the website.</p>
              <a href="https://getbootstrap.com/docs/4.5/getting-started/introduction/"><span class="center-underline">BOOTSTRAP</span></a>
              <br/><br/><br/><br/>            
          </div>
        </div>
    </div>

    <br/>


  <!----------------------------------------------------End Main Content------------------------------------------------------------>
{% endblock %}