{% extends "base.html" %}

{% block body %}
  <!----------------------------------------------------Begin Second Banner------------------------------------------------------------>
    <div class="banner">
        <p align="center"> <img src="static/img/Stock_Market_Image.jpg" class="img-responsive" alt="Stock_Market_Image"/></p>
    </div><br />
  
    <div class="row heading">
      <div class="col-md-6 col-md-offset-3" align="center">
          <h1 class="blog-post-heading">Noteworthy Stocks</h1>
      </div>
    </div>
<!----------------------------------------------------End Second Banner------------------------------------------------------------>
  
<!----------------------------------------------------Begin Main Content------------------------------------------------------------>


    <div class="jumbotron blogtext">
        <div class="row">
            <div class="col-md-6 col-md-offset-3"><br />
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus, magna vitae rutrum ornare, orci nulla vestibulum quam, sit amet maximus turpis tellus sed ipsum. Suspendisse sem ligula, molestie sed euismod nec, consectetur quis diam. Mauris lobortis elit non rhoncus pellentesque.</p><br />
              <h3 align="center"><strong>STOCK 1</strong></h3><br />
              <p align="center"><img src="static/img/Stock_Market_Image2.jpg" alt="Stock2" class="img-responsive" /></p>

              <p>Nunc dictum nec tellus nec hendrerit. Etiam leo felis, congue vitae placerat vel, vestibulum id massa. Maecenas cursus, ante sit amet placerat rhoncus, risus est auctor diam, in pulvinar magna lectus at erat.</p>
              <p>Nullam eget neque tellus. In tellus odio, pretium ac risus vitae, bibendum dignissim lectus. Vestibulum hendrerit libero nec mauris feugiat vehicula. Duis malesuada diam tempor odio efficitur, vitae faucibus purus ornare.</p>
              <p>Aenean rhoncus mauris id sapien gravida lobortis. Praesent vel eleifend purus. Nulla euismod pharetra massa sit amet vestibulum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras nec semper quam.</p><br />

              <h3 align="center"><strong>STOCK 2</strong></h3><br />
              <p align="center"><img src="static/img/Stock_Market_Image3.jpg" alt="Stock3" class="img-responsive" /></p>

              <p>Aliquam mattis eros nulla, at luctus eros porttitor quis. Vivamus eu erat non quam pharetra bibendum. Duis quis faucibus justo, in suscipit urna. Pellentesque lacinia tortor id purus mollis maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In ultrices vel dolor vel sodales.</p>
              <p>Vivamus interdum diam nec velit lobortis fringilla. Aliquam dapibus felis nec laoreet malesuada. Nullam gravida fermentum leo eu semper. Donec eget leo consequat neque dictum dignissim a malesuada dui. Nam at lacus laoreet, interdum velit sit amet, scelerisque augue. Aliquam quis feugiat odio, a ornare dui. In a condimentum ex, in placerat quam. Sed sed tincidunt nisl.</p>
              <p>Sed aliquet augue quis ullamcorper mollis. Nullam pulvinar, dui eget blandit aliquet, lacus ligula lacinia mi, ultrices rutrum metus ex quis turpis. Vestibulum vulputate, felis quis vehicula finibus, elit turpis pharetra eros, a volutpat est dolor ut dui. Suspendisse sed felis et magna gravida lacinia. Mauris pharetra, neque in luctus mollis, massa nibh pellentesque enim, lacinia sodales mi diam sed mi. Nulla facilisi.</p><br />


              <h3 align="center"><strong>STOCK 3</strong></h3><br />
              <p align="center"><img src="static/img/Stock_Market_Image4.jpg" alt="Stock4" class="img-responsive" /></p>


              <p>Aliquam sollicitudin ipsum quis erat volutpat, suscipit sodales dolor maximus. Suspendisse sit amet odio a lacus varius faucibus eu ut nunc. Integer in mauris mattis, pellentesque neque molestie, auctor nunc. Proin posuere nisl at velit aliquam commodo. Aenean congue est justo.</p>
              <p>Quisque consectetur tincidunt est vel gravida. Maecenas pretium diam feugiat porta molestie. Duis metus massa, ullamcorper in neque ac, feugiat tincidunt nulla. Ut interdum est sit amet nulla congue pellentesque. '</p>
              <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In molestie erat id orci ornare condimentum. Proin lacinia est eu eros vehicula molestie. Praesent ac iaculis felis.</p>        
          </div>
        </div>
    </div>

    <br/>


  <!----------------------------------------------------End Main Content------------------------------------------------------------>
{% endblock %}