{% extends "base.html" %}

{% block body %}
<div class="container justify-content-center">
  <img src="static/img/APPL_LSTMpred_model.png" width="1024" height="528" style="padding-top:40px;" /><br />
  <img src="static/img/Apple_auto_arima_pred_model.png" width="1024" height="523" style="padding-top:40px;" /><br />
  <img src="static/img/APPL_Prophet_pred_model.png" width="1024" height="530" style="padding-top:40px;" /><br />
  <img src="static/img/Appl_Moving_Avg_pred_model.png" width="1024" height="523" style="padding-top:40px;" /><br />
  <img src="static/img/Appl_rolling_20_50_200_day_ma.png" width="1024" height="591" style="padding-top:40px;" /><br />
  <img src="static/img/Apple_Linear_Reg_model_pred.png" width="1024" height="523" style="padding-top:40px;" /><br />
  <img src="static/img/CVX_candlestick_mouseover_w_vol.png" width="1024" height="467" style="padding-top:40px;" /><br />
  <img src="static/img/CVX_K_nearest_neighbor_pred_model.png" width="1024" height="523" style="padding-top:40px;" /><br />
  <img src="static/img/CVX_LSTMpred_model.png" width="1024" height="531" style="padding-top:40px;" /><br />
  <img src="static/img/MRK_LSTM_rms_2.1.png" width="1024" height="531" style="padding-top:40px;" /><br />
  <img src="static/img/4_stocks_2_x_axis.png" width="1024" height="590" style="padding-top:40px;" />
</div>

  <!----------------------------------------------------End Main Content------------------------------------------------------------>
{% endblock %}